body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* h1 {
    margin: 20px 0;
    color: #333;
} */

video, canvas {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#label-box {
    margin: 20px auto;
    padding: 10px;
    max-width: 90%;
    border: 2px solid #333;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
